
<ion-menu  menuId= "menuDesplegable" contentId="main-content">
  
  <ion-header class="menu-header">
    
      <ion-title class="menu-title">Menu</ion-title>
  
  </ion-header>
  <ion-content >

    <ion-menu-toggle *ngFor= "let i of menuOpts | async" auto-hide="true" > 
      
      <ion-item  class="menu-item" [routerLink]="i.url">
        <ion-icon slot="start" [name]="i.iconName"></ion-icon>
        {{i.optionName}}
      </ion-item>
  
    </ion-menu-toggle>
      <!-- para el cerrar session -->
    
  </ion-content>
  <ion-footer>
    <ion-menu-toggle auto-hide="true">
      <div class="action-button">
        <ion-button (click)="cerrar_session()">
          <ion-icon  slot="start" name="close-circle-outline"></ion-icon>
          Cerrar Session
        </ion-button> 
      </div>

    </ion-menu-toggle>
  </ion-footer>
  
</ion-menu>
