
<ion-menu  menuId= "menuDesplegable" contentId="main-content">
  <ion-header>
    <ion-toolbar  color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!--
        Perfil (opcional)
        Menu principal (tiene que aparecer depende la pag)
        Mis preparaciones
        Cerrar sesion -->
    <ion-menu-toggle auto-hide="true"> <!-- parq que se cierre de forma automatica cuando se lecciones un item -->
      <ion-item [routerLink]="['menu2']">
        <ion-icon slot="start" name="library-outline"></ion-icon>
        Recetas
      </ion-item>
  
      <ion-item [routerLink]="['favoritos']">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        Mis Preparaciones
      </ion-item>
     
      <ion-item class="registro" (click)="cerrar_session()">
        <ion-icon name="close-circle-outline"></ion-icon>
        Cerrar Session
      </ion-item> <!-- Ver si mantener en este estilo -->
    </ion-menu-toggle>
    

  </ion-content>
  
</ion-menu>
