
<ion-menu  menuId= "menuDesplegable" contentId="main-content">
  <ion-header>
    <ion-toolbar  color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content ><!-- class="ion-padding" -->

    <ion-menu-toggle *ngFor= "let i of menuOpts | async" auto-hide="true"> 
      
      <ion-item [routerLink]="i.url">
        <ion-icon slot="start" [name]="i.iconName"></ion-icon>
        {{i.optionName}}
      </ion-item>
  

      <!-- <ion-item [routerLink]="['menu2']">
        <ion-icon slot="start" name="library-outline"></ion-icon>
        Recetas
      </ion-item>
  
      <ion-item [routerLink]="['preparaciones']">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        Mis Preparaciones
      </ion-item> -->
     

    </ion-menu-toggle>
      <!-- para el cerrar session -->
    <ion-menu-toggle auto-hide="true">
      <ion-item class="registro" (click)="cerrar_session()">
        <ion-icon name="close-circle-outline"></ion-icon>
        Cerrar Session
      </ion-item> 
    </ion-menu-toggle>
   
  </ion-content>
  
</ion-menu>
