<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuDesplegable"></ion-menu-button>
    </ion-buttons> 
    <ion-title>Mis Preparaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let preparacion of preparaciones" [routerLink]="['/receta/' + preparacion.idMeal]">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{ preparacion.strMeal }}
          </ion-card-title>
        </ion-card-header>
        <ion-img [src]="preparacion.strMealThumb" style="width: 100%; height: auto;"></ion-img>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
