<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menuDesplegable"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="logo" src="assets/icon/logo.png" alt="logo">
  <ion-card>
  <ion-card-header>
    <ion-card-title>Seleccione Receta</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-searchbar [(ngModel)]="searchText" (ionChange)="buscarReceta()"></ion-searchbar>

    
<!-- 
  Aqui se utilizó el swiper que reemplaza al slide
-->
<swiper-container>
  <swiper-slide class="slide-full" *ngFor="let menu of menues" [routerLink]="['/receta/' + menu.idMeal]">
   <ion-card class='ion-card-slide'mode="ios">
      <ion-card-header>
        <ion-card-title>
          {{menu.strMeal}}
        </ion-card-title>
      </ion-card-header>
      <img src="{{menu.strMealThumb}}" alt="" class="slide-image">
   </ion-card>
  </swiper-slide>
</swiper-container>

  </ion-card-content>
</ion-card>

</ion-content>