
.slide-full{
    height: 100%;
}

.slide-image{
    width: 150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10%;
}

ion-card-header{
    position: relative;
    align-items: center;
    padding: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

ion-card-content{
    position:relative;
}

ion-card{
    overflow: unset;
}

ion-card{
    height: 220px;
    width: 200px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}
