<ion-content class="ion-padding">
  <img class="logo" src="assets/icon/logo.png" alt="logo">
  <ion-card>
  <ion-card-header>
    <ion-card-title>Seleccione Receta</ion-card-title>
  </ion-card-header>
  <ion-card-content>

<!-- 
  Aqui se utilizó el swiper que reemplaza al slide
-->
<swiper-container>
  <swiper-slide class="slide-full" *ngFor="let menu of menues" [routerLink]="['/receta/' + menu.idMeal]">
   <ion-card class='ion-card-slide'mode="ios">
      <ion-card-header>
        <ion-card-title>
          {{menu.strMeal}}
        </ion-card-title>
      </ion-card-header>
      <img src="{{menu.strMealThumb}}" alt="" class="slide-image">
   </ion-card>
  </swiper-slide>
</swiper-container>

  </ion-card-content>
</ion-card>
<br />
<ion-button class="registro" (click)="cerrar_session()">Cerrar Session</ion-button>
<ion-button class="registro" (click)="cerrar_app()">Cerrar Aplicacion</ion-button>
<br />
</ion-content>