<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="Receta"> </ion-back-button>
      <ion-title> Volver a menu </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
      <ion-card-header>  
        <ion-card-title>
          Nombre: {{chracter.strMeal}}
        </ion-card-title>
        </ion-card-header>
          Foto: <img src="{{chracter.strMealThumb}}" alt="Imagen">      
        <ion-card-content>
          Instrucciones: {{chracter.strInstructions}}
        </ion-card-content>
    </ion-card>
  <br />
  <ion-button class="sacar_foto" (click)="sacar_foto()">Sacar foto</ion-button>
  <ion-button class="obtener_ubicacion" (click)="obtener_ubicacion()">Obtener Ubicación</ion-button>
</ion-content>