<ion-content class="ion-padding">

  <img class="logo" src="assets/icon/logo.png" alt="logo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title> 
    </ion-card-header>
    <ion-card-content>
      <form  [formGroup]="formularioRegistro">
        <ion-item>
          <ion-input formControlName="nombre" label="Nombre" position="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="clave" label="Clave" position="floating" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="clave2" label="Confirmar Clave" position="floating" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="pregunta" label="Palabra de recuperacion" position="floating" type="password"></ion-input>
        </ion-item>
      </form>
      <ion-button (click)="guardar()">Registrarse</ion-button>
    
    </ion-card-content>
  </ion-card>
    <ion-button [routerLink]="['/login']">LOGIN</ion-button>
</ion-content>